#sidebar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    background-color: #ffffff;
    color: white;

    #profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 4vh;
        border-bottom: 1px solid black;

        h2 {
            margin: 0 0 2vh 0;
            font-size: 1.25vw;
            color: black;
            text-align: center;
            font-weight: 100;
        }

        button {
            width: 55%;
            height: 4vh;
            background-color: #c0c0c0;
            font-weight: 600;
            border: none;
            border-radius: 12.5px;
            font-size: 1.25vw;
            color: black;
            cursor: pointer;

            &:hover {
                background-color: #a0a0a0;
            }
        }

        img {
            width: 55%;
            height: auto;
            border-radius: 50%;
            margin: 4vh 0 2vh 0;
        }
    }

    #pages {
        display: flex;
        flex-direction: column;

        span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: min-content;
            width: 100%;
            color: black;
            text-decoration: none;
            border-bottom: 1px solid black;
            padding-bottom: 1.5vh;
            padding-top: 1.5vh;

            a {
                padding: 1vh 1vw 1vh 1vw;
                width: 8.5vw;
                margin-left: 2vw;
                color: black;
                border-radius: 10px;

                h1 {
                    margin: 0;
                    font-size: 1.2vw;
                    width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
                &:hover {
                    background-color: #c0c0c0;
                }
            }
        }
    }
}